<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/principal.css">
        <link rel="stylesheet" type="text/css" href="/css/paginacao.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="/css/tema.css" rel="stylesheet" />
        <script src="/js/jquery-3.5.1.min.js" ></script>
        <script src="/js/popper.min.js" ></script>
        <script src="/js/bootstrap.js" ></script>
        
        
        <title>Financeiro</title>
    </head>
    <body>
        {{>_navbar}}
        {{{body}}}
    </body>

</html>
